@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600&display=swap");

/* header */
* {
  font-family: "Hind", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(234, 104, 104);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    background-color: rgb(234, 104, 104);
    margin-left: 15rem;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    color: firebrick;
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
}

.movie-card-grande {
  flex: 0 0 250px;
  border-radius: 2%;
  background-color: rgba(61, 20, 20, 0.5);

  h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow-y: hidden;
    line-height: 1.2;
    height: calc((2em * 1.2));
  }
  img {
    width: 100%;
  }
}

.movie-page {
  background-color: black;
  img {
    max-width: 100%;
  }
}

.carusell {
  background-color: rgb(94, 24, 24);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
}

.search-result {
  display: flex;
  img {
    max-width: 100px;
  }
  article {
    display: flex;
  }
}
