/* header */
* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    background-color: green;
  }
}

.movie-card-grande {
  flex: 0 0 250px;
  border: 2px solid red;

  h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow-y: hidden;
    line-height: 1.2;
    height: calc((2em * 1.2));
  }
  img {
    width: 100%;
  }
}

.movie-page {
  img {
    max-width: 100%;
  }
}

.carusell {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
}

.search-result {
  display: flex;
  img {
    max-width: 100px;
  }
  article {
    display: flex;
  }
}
